.DS_Store
__pycache__
colexnet_vectors/*
outputs/*
notebooks/*
datasets
setformer/training_logs/*
.vscode
evaluation/retrieval/bible
evaluation/retrieval/bible_tokenized_xlm_r_glot500
evaluation/retrieval/tatoeba
evaluation/retrieval/tatoeba_tokenized_xlm_v_glot500